@charset "utf-8";
/* CSS Document */
.cardcontainer {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}
.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.card0 {
  background: url("../images/team/isha_zaheer.jpeg") center center no-repeat;
  background-size: 300px;
}
.card0:hover {
  background: url("../images/team/isha_zaheer.jpeg") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .cardfa {
  opacity: 1;
}
.card1 {
  background: url("../images/team/sagar_sewak.jpeg") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("../images/team/sagar_sewak.jpeg") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .cardfa {
  opacity: 1;
}
.card2 {
  background: url("../images/team/ahvanya_mandhyan.jpeg") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("../images/team/ahvanya_mandhyan.jpeg") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .cardfa {
  opacity: 1;
}
.card3 {
  background: url("../images/team/yash_kumar.jpeg") center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url("../images/team/yash_kumar.jpeg") left center no-repeat;
  background-size: 600px;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .cardfa {
  opacity: 1;
}
.card4 {
  background: url("../images/team/aaeen_zehra.jpeg") center center no-repeat;
  background-size: 300px;
}
.card4:hover {
  background: url("../images/team/aaeen_zehra.jpeg") left center no-repeat;
  background-size: 600px;
}
.card4:hover h2 {
  opacity: 1;
}
.card4:hover .cardfa {
  opacity: 1;
}
.card5 {
  background: url("../images/team/neel_sharma.jpeg") center center no-repeat;
  background-size: 300px;
}
.card5:hover {
  background: url("../images/team/neel_sharma.jpeg") left center no-repeat;
  background-size: 600px;
}
.card5:hover h2 {
  opacity: 1;
}
.card5:hover .cardfa {
  opacity: 1;
}
.card6 {
  background: url("../images/team/yati_besain.jpeg") center center no-repeat;
  background-size: 300px;
}
.card6:hover {
  background: url("../images/team/yati_besain.jpeg") left center no-repeat;
  background-size: 600px;
}
.card6:hover h2 {
  opacity: 1;
}
.card6:hover .cardfa {
  opacity: 1;
}
.card7 {
  background: url("../images/team/aadya_arjun.jpeg") center center no-repeat;
  background-size: 300px;
}
.card7:hover {
  background: url("../images/team/aadya_arjun.jpeg") left center no-repeat;
  background-size: 600px;
}
.card7:hover h2 {
  opacity: 1;
}
.card7:hover .cardfa {
  opacity: 1;
}
.card8 {
  background: url("../images/team/varnika_singh.jpeg") center center no-repeat;
  background-size: 300px;
}
.card8:hover {
  background: url("../images/team/varnika_singh.jpeg") left center no-repeat;
  background-size: 600px;
}
.card8:hover h2 {
  opacity: 1;
}
.card8:hover .cardfa {
  opacity: 1;
}
h2 {
  font-family: montserrat;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.cardfa {
  opacity: 0;
  transition: opacity 1s;
  text-decoration: none;
  color: white;
}
.cardicons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 130px;
  top: 226px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

